language: python
python:
  - "2.6"
  - "2.7"
  - "3.4"
  - "3.5"
addons:
  apt:
    packages:
    - libblas-dev
    - liblapack-dev
    - gfortran
install:
  - travis_wait pip install -r requirements.txt
  - pip install .
script: pytest --cov .
