cffi==1.11.2
coverage==4.4.1
Cython==0.27.2
h5py==2.7.1
numpy==1.13.3
pkg-resources==0.0.0
py==1.4.34
pycparser==2.18
PySoundFile==0.9.0.post1
pytest==3.2.3
pytest-cov==2.5.1
scipy==1.0.0
six==1.11.0
Theano==0.9.0
matplotlib==2.1.0

